{
	"Version": "2012-10-17",
	"Id": "Allow",
	"Statement": [
		{
			"Sid": "Allow Spark Read Write",
			"Effect": "Allow",
			"Principal": {
				"AWS": [
					"my-iam-user"
				]
			},
			"Action": "s3:*",
			"Resource": [
				"arn:aws:s3:::my-bucket-name/*",
				"arn:aws:s3:::my-bucket-name"
			]
		}
	]
}
